.nav-color{
    --background: #006600;
    color: white;
}

.btn-register{
    --background: #006600;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 25px;
}

.card-style-line{
    border:solid #006600 0.5px;
}