.ion-card-style {
    margin-top: 40%;
}

.img-responsive {
    width: 100px;
    height: 100px;
}

.color-button {
    --background: #006600;
    font-weight: bold;
}

.color-link {
    color: #006600 !important;
    text-decoration: underline;
}