.nav-color{
    --background: #006600;
    color: white;
}

.card-stadistics{
    background: #006600;
    border-radius: 8%;
    text-align: center;
    color: white;
}

.btn-nuevo-proyecto{
    --background: #006600;
    --color: white;
}

.decription-style{
    margin: 12px;
    text-align: justify;
}