.nav-color{
    --background: #006600;
    color: white;
}

.number-porcentaje{
    font-size: 1.5rem;
    font-weight: bold;
    color: white; 
}

.card-stadistics{
    background: #006600;
    border-radius: 12%;
}

.text-white{
    color: white;
}

.card-message{
    background: #c8199963;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.text-white-message{
    color: #2d0322;
}

.btn-register{
    --background: #006600;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 25px;
}