.nav-color{
    --background: #006600;
    color: white;
}

.content-background{
    --background: url(../../assets/img/FONDO-PRINCIPAL-ALPHA.png) no-repeat cover;
}

.color-text-title{
    color: #006600;
    margin: 12px;
}

.btn-register{
    --background: #006600;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 25px;
}

.color-link{
   color: #006600; 
}
